<h1><%= @product.name %></h1>
<h3>Planet of Origin: <%= @product.country_of_origin %></h3>
<h3>Cost per unit in Imperial Solari: <%= number_to_currency(@product.cost, unit: "☼") %></h3>
<% if @average_review.any? %>
  <h5>The average review for this product is:
  <%= @average_review[@product.id] %>
  </h5>
<%end%>

<% if @product.reviews.any? %>
  <h4>Here are the reviews for this spice:</h4>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <%= link_to review.author + " - " + review.rating.to_s + " stars", product_review_path(@product, review) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No reviews are listed for this spice.</p>
<% end %>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>
<% if current_user && current_user.admin %>
  <p><%= link_to "Edit", edit_product_path(@product) %></p>
  <p><%= link_to "Delete spice", product_path(@product),
                          :data => {:confirm => "The Maker may be angry, are you sure?",
                                    :method => "delete"} %></p>
<% end %>
<p><%= link_to "Return to Spices", products_path %></p>