<h2><%= @product.name %></h2>

<h3>Review:</h3>
<div class="review-block">
  <p><%= @review.rating %> Stars</p>
  <q class="review"><%= @review.content_body %></q>
  <p class="byline">By <%= @review.author %> on <%= @review.created_at.strftime("%b %d, %Y") %></p>
</div>

<% if current_user && current_user.admin %>
  <p><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
  <p><%= link_to "Delete review", product_review_path(@product, @review),
    :data => {:confirm => "are you sure?",
    :method => "delete"} %></p>
<% end %>

<p><%= link_to "Return to Spice", product_path(@product) %></p>

