<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review] do |f| %>
  <%= f.label :rating, "Your Rating" %>
  <%= f.number_field :rating, in: 1..5, step: 1 %>
  <%= f.label :author, "Your Name" %>
  <%= f.text_field :author %>
  <%= f.label :content_body, "Review" %>
  <%= f.text_area :content_body %>
  <p><%= f.submit %></p>
<% end %>